
/* p, h1, h2 {padding-left: 10px} */

h1, h2 { 
  /* margin-top: 170px; overflow: hidden; display:inline-block;  */
  line-height: 300%;
  margin-bottom: 0px;
}

p {
  margin-bottom: 10px;
}

/* div, html{
  left: 50px;
} */

.a-navlink {
  color: black;
  display: 'inline-block';
  font-size: 20px;
  border-radius: 0px;
  padding: 5px;
  margin: 10px 10px 30px 10px;  
  /* // top, right, bottom, left */
  text-decoration: none;
}
.a-navlink:hover {
  /* text-decoration: underline; */
  /* color: grey; */
  border-bottom: 2px solid black;
  animation-duration: 4s;
  /* font-weight: bold; */
}

